.containerTotalValue {
    border: solid 1px var(--gray-5);
    background-color: var(--gray-6);

    height: 96px;
    width: 96%;
    margin: 0 auto;
}

.containerValue {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    gap: 130px;
    padding-top: 20px;
}

.valorTotalString {
    font-weight: bold;
    font-size: var(--text-2);
    color: var(--gray-2);

    padding-bottom: 20px;
}

.value {
    font-weight: bold;
    color: var(--color-brand-1);
}

.ValueSmall {
    font-size: var(--text-3);

}



@media (min-width: 1000px){
    .containerTotalValue {
        width: 50%;
    }

    
}